<main>
  <section id="currencyDetails">
    <div class="container py-5 my-3">
      <div *ngIf="type === 'USD'">
        <h4>US Dollar Currency</h4>
        <h6>Overview</h6>
        <p>
          The United States dollar is one of the most widely utilized currencies
          around the globe, both as an official currency and for international
          trade outside US borders. The dollar is divided into 100 units called
          pennies or cents.
        </p>
        <br />

        <h6>Economy</h6>

        <p>
          The United States of America has a mixed capitalist economy, which is
          fueled by abundant natural resources, a well-developed infrastructure,
          and high productivity.
        </p>
        <p>
          According to the International Monetary Fund, the U.S. GDP of $15
          trillion constitutes 23% of global GDP to exchange rates and market
          more than 20% of global GDP in purchasing power parity.
        </p>
        <p>
          Although larger than any other nation, its GDP is 5% smaller than the
          GDP of the European Union in purchasing power parity in 2008.
        </p>
        <p>
          The country ranks ninth in the world in nominal GDP per capita and
          sixth in GDP per capita in PPP. The United States dollar is the main
          global reserve currency.
        </p>
        <br />

        <h6>History</h6>

        <p>
          The first dollar coin issued by the United States Mint was similar in
          size and composition to the Spanish dollar. The Spanish dollar
          remained legal until 1857.
        </p>
        <p>The United States dollar was defined by the Coinage Act of 1792.</p>
        <p>
          The lion dollar was popular in the Dutch New Netherlands Colony (New
          York), but also circulated throughout the English colonies during the
          17th century and 18th centuries. Examples of this dollar circulating
          in the colonies were usually used so that the design was not fully
          distinguishable, so it is sometimes referred to as “dog dollars”.
        </p>
        <p>
          The early currency did not display faces of the presidents, as it does
          now. George Washington did not want his face to be on the currency.
        </p>
      </div>

      <div *ngIf="type === 'EUR'">
        <h4>Euro Currency</h4>
        <h6>Description</h6>
        <p>
          The official currency used in the Eurozone is the euro (EUR). The
          eurozone consists of the 17 states of the European Union: Austria,
          Cyprus, Estonia, Portugal, Belgium, Germany, Malta, Portugal,
          Netherlands, Italy, Ireland, Greece, Luxemburg, France, Slovakia,
          Spain, and Slovenia. The euro is the second-largest currency that is
          traded worldwide.
        </p>
        <br />

        <h6>Economy</h6>

        <p>
          The euro is seen as a macro-economy system. It gives the countries
          that are part of the eurozone economical stability.
        </p>
        <p>
          Trade industry increased by 5% since the implementation of the Euro.
        </p>
        <p>
          Exchange rate risk is reduced for all the countries in the eurozone.
        </p>
        <p>Most countries also experienced a reduction in interest rates.</p>
        <p>
          Tourism in the EU countries has also increased by 6.5% because of the
          common currency.
        </p>
        <p>
          The euro is rated as a major reserve currency and is in the same
          league as the Japanese yen, US dollar, British pound, and Swiss franc.
        </p>
        <p>The exchange rate for the euro is a floating or flexible rate.</p>

        <br />
        <h6>History</h6>
        <p>In 1992, the euro was established by the Maastricht Treaty.</p>
        <p>
          Strict rules were given to the member states before they could become
          part of the eurozone. Two countries were exempt from the rules–the
          United Kingdom and Denmark.
        </p>
        <p>
          The name was established in 1995, when the euro replaced the “European
          currency unit”.
        </p>
        <p>
          The euro unofficially replaced the European currency unit in 1999. In
          2002, all old currencies were discontinued and replaced by the new
          Euro notes and coins. Member countries discontinued their old notes
          and coins at different times.
        </p>
        <p>
          The euro unofficially replaced the European currency unit in 1999. In
          2002, all old currencies were discontinued and replaced by the new
          euro notes and coins. Member countries discontinued their old notes
          and coins at different times..
        </p>
      </div>
    </div>
  </section>
</main>
